body{

}
.contnr main
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.one
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ball
{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;

}
.two
{
    display: flex;
    justify-content: start;

}

@media screen and (min-width: 500px)
{
   section
   {

   }
}