table
{
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;

}
td
{
vertical-align: top;
}
h1
{
    float: left;
}
h2
{
   text-align: right;
}
h3
{
    text-align: left;
    float: left;
    margin: auto;
}
b
{
    float: right;
}
caption
{
    font-size: 200%;
}